body {
  overflow-x: hidden;
  background-color: white;
}
nav{
  width: 100%;
  height: 80px;
  top: 0;
  z-index: 1000;
}

ul, menu, dir {
  display: block;
  float: right;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
nav ul li {
  display: inline-block;
  float: right;
  padding-right: em;
  padding-top: 2em;
}
li{
  padding-right: 4em;
  font-family: 'Fjalla One', sans-serif;
}
a{
  color:black;
  font-size: 1.5vw;
  font-weight: bold;
}
A:hover { color:black; text-decoration: none }
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.inicio{
  width: inherit;
}
.intro{
  margin-top: 6em;
}

.sobre-mi{
  padding:1em;
}

.photo-webEcommerce{
  background-image: url(../img/hfc.jpg);
  background-size: cover;
  max-width: 10vw;
  padding:40%;  
  margin-left: 2rem;
}
.subtitulo{
  font-family: 'Fjalla One', sans-serif;
  font-size: 3vw;
  color: black;
  margin-bottom: 0.5em;
  text-align: left;
}
.p-proyectos{
  font-family: Georgia, serif;
  font-size: 1.5vw;
  color: rgba(0, 0, 0, 0.699);
}
.read-more{
  font-family: 'Fjalla One', sans-serif;
  font-size: 2vw;
  color: black;
  text-decoration: underline;
}
.photo-appFinanciera{
  background-image: url(../img/Copia\ de\ financeApp.png);
  background-size: cover;
  max-width: 10vw;
  padding:40%;  
  margin-left: 2rem;
}
.box-1{

  padding: 2em;
  margin-top: 10em;
}
hr{
  border: 1px solid black;
}
.box-2{ 
  padding: 2em;
  margin-top:2em;
  margin-bottom: 5em;
 
}
.box{
  margin-left: auto;
}
.body-sobremi{
  background-color: rgb(235, 241, 241);
}
.section-1-sobremi{
  background-color: rgba(5, 5, 5, 0.897);
  margin-top: 15em;
}
.about{
  text-align: center;
  font-family: Georgia, serif;
  color: white;
  font-size: 2.3vw;
  margin:3.5em; 
  color: rgba(0, 0, 0, 0.699);
}

#foto{
background-image: url(../img/javi.JPG);
background-size: cover;
width: 100%;
height: auto;
margin-top: 8em;
}
.logo{
  background-image: url(../img/logo.png);
  background-size: cover;
  max-width: 20vw;
  padding:15%;  
  margin-top:2em;
}
.ux-design{
  font-size: 2.5vw;
  margin-top: 2rem;
  text-align: center;
}
.section-lab{
  margin-top:8em;
}
.lab{
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  font-size: 6vw;
  color: black;
 
}
.p-lab{
  text-align: justify;
  font-family: Georgia, serif;
  font-size: 1.5vw;
  margin: 2.5em;
  margin-right:8em;
  margin-left: 8em;
  line-height: 2em;
  color: rgba(0, 0, 0, 0.699);
}
.img-lab{
 
  background-size: cover;
 width: 100%;
  height: auto;
}
.hfc-seccion1{
 background-color: rgb(25,30,36);
 padding: 2em;
}
.p-hfc-seccion1{
  margin-top: 2em;
  margin-right: 12em;
  margin-left: 12em;
  font-family: Georgia, serif;
  font-size: 1.8vw;
  text-align: justify;
  line-height: 2em;
  color:white;
 
}
.hfc-titulo{
 
  font-family: 'Fjalla One', sans-serif;
  font-size: 3vw;
  margin-top:3em;
  color: black;
  text-align: center;
}

.p-hfc-seccion2{
  margin-top:3em;
  margin-bottom: 2em;
  margin-right: 8em;
  margin-left: 8em;
  font-family: Georgia, serif;
  font-size: 1.5vw;
  text-align: left;
  color: rgba(0, 0, 0, 0.699);
  line-height: 2em;
}
.collage-hfc{
   background-size: cover;
   width: 70%;
   height: auto;
   margin-top:5em;
   margin-left: 15%;
}
.fa-ellipsis-h{
  margin-left: 50%;
  color: white;
}
.section-3-hfc{
 padding: 2em;
  background-color: rgb(252, 156, 172);
}
.letra{
  font-family: Georgia, serif;
  font-size: 1.2vw;
}

.h3{
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  font-size: 4vw;
  margin-top: 5em;
  margin-bottom: 2em;
}
.fa-long-arrow-alt-right{
  font-size: 2vw;
  color: rgb(22, 22, 22);
  margin-left: 1em;
}
.li{
  font-family: Georgia, serif;
  font-size: 1.5vw;
  color: whitesmoke;
  margin-bottom: 2em;
}
.letra-cont{
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.5vw;
}
.fa-envelope{
font-size: 2vw;

margin-right: 1em;
}
.fa-whatsapp{
  font-size: 2vw;
  margin-right: 1em;
}
@media ( min-width : 320px ) and ( max-width : 480px ) {
 
  nav ul li {
    display: inline-block;
    padding: 0.5em 0.5em;
  }
  .box{
    margin-left: auto;
  }
  .box-1{
    margin-top: 3em;
   
  }
  .box-2{
  
    padding: 1em;
  }
  
  .logo{
    margin-top:2em;
    background-size: cover;
    padding:6vw; 
    }
    .section-1-sobremi{
      background-color: white;
      margin-top: 4em;
    } 
    .about{
      text-align: center;
      font-family: Georgia, serif;
      font-size: 1.3vw;
      margin-top:0.5em;
      margin-bottom: 0.5em; 
    }
    #foto{
    margin-top:3em;
    }
    .section-lab{
      margin-top:4em;
    }
    .img-lab{
 
      background-size: cover;
     width: 100%;
      height: auto;
      margin-top: 2em; 
    }
}
@media ( min-width : 768px ) and ( max-width : 1024px ) {
  
  .logo{
    margin-top: 2em;
    background-size: cover;
    padding:6vw; 
    }
    .section-1{
      margin:2em;
      background-color: white;
    }
    .section-2{
      margin:2em;
      background-color: white;
    }
    .box{
      margin-left: auto;
      
    }
    .box-1{
     
      margin-top: 10rem;
    }
    .box-2{
     
      margin-top: 3rem;
    } 
    .photo-webEcommerce{
      background-size: cover;
      max-width: 6vw;
      padding:40%;  
      margin-bottom: 0.5em;
    }
    .photo-appFinanciera{
      background-size: cover;
      max-width: 10vw;
      padding:40%;  
      margin-bottom: 0.5em;
     float: left;
    }
    li{
      padding-right: 2em;
    }
}
